<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
  float: left;
  text-align: center;
  margin: 25px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active{
  border: 20px;
  border-radius: 10px 10px 10px 10px;
  background-color: green;
 
}
</style>
</head>
<body>

  <ul class="lin">
    
    <li><a class="active" href="/create_task">CreateTask</a></li>
    <li><a class="active" href="/dashboard">Dashboard</a></li>
       <li><a class="active" href="/logout">Logout</a></li>
 
  
    </ul>
</body>
</html>




