
    .de{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: blue;
        margin-top: auto;
    }
    .hr{
        color: green; 
    }
    .wel{
        text-align: center;
        padding: auto;
    }
    .id{
        border: 5px;
    }
    .tab{
        border-radius: 8px 8px 8px 8px;
        background-color: white;
        text-align: center;
    }
    .use{
        color: greenyellow;
    }
      .center {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
      }
   